<div class="primecrousell__container">
  <li class="primecarousell__item">
    <div class="prime__image"><img src="${previewImage}.jpg" class="previewImage" /></div>
    <div class="prime__section">
      <div class="prime__section__title"></div>
      <div class="prime__section__header"></div>
      <div class="prime__section__body"></div>
      <div class="prime__section__tail"></div>
      <div class="prime__section__link"></div>
    </div>
  </li>
</div>
<button class="prime-button" id="leftbtn"><i class="fas fa-chevron-left"></i></button>
<div class="primecarousell">
  <ul class="primecarousell__container">
    ${itemList}
  </ul>
</div>
<button class="prime-button" id="rightbtn"><i class="fas fa-chevron-right"></i></button>
