.contents__primecroushell-container {
  display: block;
  .contents__primecroushell-container__category-card {
  }
  .contents__primecroushell-container__croushell {
    display: flex;
    margin-top: 5rem;
  }
}
