$carousellContainerWidth: 70rem;
$carousellContainerHeight: 25rem;
$carousellSpace: 30rem;
$backgroundPoistion: -10rem;

.contents__primecaroushell-container__caroushell {
  display: flex;
  margin-top: 5rem;
  .primecarousell__container {
    display: flex;
    overflow: hidden;
    .primecarousell__itemlist {
      display: flex;

      .primecarousell__item {
        position: relative;
        width: $carousellContainerWidth;
        height: $carousellContainerHeight;
        background-position: $backgroundPoistion;
        background-repeat: no-repeat;
        background-size: contain;
        .prime__section {
          position: absolute;
          left: $carousellSpace;
          white-space: normal;
        }
      }
    }
  }
}
