ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousell__container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border: 1px dotted red; /* for test */
}

.carousell__list {
  display: flex;
  transition: transform 1s;
}

.carousell__item {
  img {
    max-width: 500px;
    max-height: 500px;
  }
}
