.header {
  width: auto;
  height: 260px;
  .header__title {
    position: relative;
    text-align: center;
    color: black;
    width: auto;
  }
  .signin_button {
    position: absolute;
    top: 170px;
    left: 22px;
    width: 280px;
    height: 50px;
    color: #516033;
    background: #ffa823;
  }
}
