doctype html
html
    head
    body
        header(class="admin__header")
        main(class="admin__main")
            div(class="main__info")
                div(class="admin_info")
                    p="관리자:"
                div(class="time_info")
            div(calss="main__navigation")
                button(type="button" class="navi_button",id="lookup_user" )="사용자조회"
                button(type="button" class="navi_button",id="regist_item" onclick="location.href='/admin/regist'")="아이템등록"
    script(type='module',src='/javascripts/adminpage/index/adminbundle.js')