<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
    body
        main(class="regist__main")
            div(class="show_ltems")
            div(class="add_items")
                h2="prime-card"
                div(class="add__primecard")
                    form(class="primecardform" action="/admin/regist/primecard" method="post" enctype="multipart/form-data")
                        div(class="primecardform__inputconatiner")
                            input(type="text" name="title" class="primecardform_input" id="primecardform_input-title")
                        div(class="primecardform__inputconatiner")
                            input(type="file" name="imagefile" class="primecardform_input" id="primecardform_input-image" )
                        div(class="primecardform__submit")
                            input(type="submit" value="등록")
                div(class="add__primeitem")
                    h2="prime-item"
                    form(class="primeitemform" action="/admin/regist/primeitem" method="post" enctype="multipart/form-data")
                        div(class="primeitemform__inputconatiner")
                            input(type="file" name="imagefile" class="primeitemform_input" id="primeitemform_input-image")
                        div(class="primeitemform__inputconatiner")
                            input(type="text" name="title" class="primeitemform_input" id="primeitemform_input-title")
                        div(class="primeitemform__inputconatiner")
                            input(type="text" name="head" class="primeitemform_input" id="primeitemform_input-head")
                        div(class="primeitemform__inputconatiner")
                            input(type="text" name="body" class="primeitemform_input" id="primeitemform_input-body")
                        div(class="primeitemform__inputconatiner")
                            input(type="text" name="tail" class="primeitemform_input" id="primeitemform_input-tail")
                        div(class="primeitemform__inputconatiner")
                            input(type="text" name="link" class="primeitemform_input" id="primeitemform_input-link")
                        div(class="primeitemform__inputconatiner")
                            select(name="card" class="primeitemform_input" id="primeitemform_input-card")
                                - for(var i=0; i<cards.length;++i)
                                    option(value=cards[i])=cards[i]
                        div(class="primeitemform__submit")
                            input(type="submit" value="등록")
                div(calss="add__mini")
    script(type='module',src='/javascripts/adminpage/regist/registbundle.js')